:root {
  --bg-dark: #121212;
  --text-light: #ffffff;
  --accent-orange: #ff8c00;
}

.admin-input {
  padding: 10px;
  border: 1px solid #333;
  background: #1e1e1e;
  color: white;
  border-radius: 5px;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: sans-serif;
}

/* Style untuk tombol dan kartu */
.btn-orange {
  background-color: var(--accent-orange);
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.card-store {
  background-color: #1e1e1e;
  border: 1px solid var(--accent-orange);
  padding: 20px;
  border-radius: 12px;
}